<%= f.input_field :description, label: 'Opis', placeholder: 'Dodaj posts' , class: 'input' %>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <%= f.submit class: 'button' %>
  <%= f.file_field :attachments, multiple: true %>
</div>