<div class="columns is-12 is-multiline">
  <div class="column is-12 normal-margin-top">
    <%= form_with model: @post, url: posts_path do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>