<div id="comment_form_<%= p.id %>" class="comment-form" style="padding: 15px">
  <%= form_with model: Comment.new, url: post_comments_path(p) do |f| %>
    <%= f.text_area :message, class: 'input', style: 'width: 89%; max-width: 89%'  %>
    <%= f.submit 'Dodaj', class: 'button is-primary'  %>
  <% end %>
</div>
