<%= turbo_frame_tag "comment_#{comment.id}_reply_form" do %>
  <div class="column is-12" style="display: flex; justify-content: center">
    <%= form_with model: comment.replies.new, url: reply_path(comment) do |f| %>
      <%= f.text_field :message , class: 'input', style: 'width: 100%' %>
      <%= f.submit 'Dodaj', class: 'button is-primary'  %>
    <% end %>
  </div>
<% end %>