<h1 class="title">Powiadomienia</h1>
<div class="columns is-12 is-multiline">
  <h2 class="title">Nieodczytane</h2>
  <% @notifications_unread.each do |notif| %>
    <div class="column is-12 notification-box">
      <%= render notif %>
    </div>
  <% end %>
  <div class="column is-12">
    <h2 class="title">Odczytane</h2>
    <% @notifications_read.each do |notif| %>
      <div class="column is-12 notification-box">
        <%= render notif %>
      </div>
    <% end %>
  </div>
</div>