<div class="card" style="margin-top: 25px;">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= link_to p.profile.name, profile_path(p.profile) %></p>
        <p class="subtitle is-6"><%= time_ago_in_words(p.created_at) %></p>
      </div>
      <% if current_user.profile == p.profile %>
        <%= button_to 'delete', post_path(p), method: :delete, class: "button is-danger" %>
      <% end %>
    </div>
    <span class="card-footer" style="margin-bottom: 25px"></span>
    <div class="content">
      <%= p.description %><br/>
    </div>
  </div>
  <div class="card-image">
    <%# if p.attachments.attached? %>
      <%# p.attachments.each_with_index do |attachment, index| %>
        <%# if attachment.image? %>
<!--          <figure class="image is-4by3">-->
            <%#= image_tag(p.post_attachment(index)) %>
<!--          </figure>-->
        <%# elsif attachment.video? %>
<!--          <figure class="image is-4by3">-->
            <%#= video_tag(url_for(attachment), style: 'height: auto; width: 100%;', controls: '') %>
<!--          </figure>-->
        <%# elsif attachment.audio? %>
<!--          <figure class="image is-4by3">-->
            <%#= audio_tag(url_for(attachment), controls: '') %>
<!--          </figure>-->
        <%# else %>
          <%#= link_to attachment.filename, url_for(attachment), style: "text-decoration: none; color: #fff" %>
        <%# end %>
      <%# end %>
    <%# end %>
  </div>
  <span class="card-footer" style="margin-bottom: 15px"></span>
  <div class="action-buttons" style="display: flex; justify-content: space-evenly; margin-bottom: 15px">
    <button class="button is-primary">Like</button>
    <button class="button is-primary">Comment</button>
    <button class="button is-primary">Share</button>
  </div>
  <span class="card-footer" style="margin-bottom: 15px"></span>
  <div class="comments-section">
    <%# if p.comments.any? %>
      <%# p.comments.each do |comm| %>
        <%#= render partial: 'posts/reply', locals: { comment: comm} %>
      <%# end %>
    <%# end %>
  </div>
  <span class="card-footer" style="margin-bottom: 15px"></span>
  <div class="comment-form" style="margin: 15px">
    <%#= form_with model: p.comments.new, url: post_comments_path( p) do |f| %>
      <%#= f.text_field :body, class: 'input', style: 'width: 90%'  %>
      <%#= f.submit 'Dodaj', class: 'button is-primary'  %>
    <%# end %>
  </div>
</div>