<div class="columns is-12 normal-margin-top">
  <div class="column is-12">
    <div class="columns is-12" style="flex-direction: column; height: 100vh;">
      <%= render partial: 'posts/form', locals: { post: @post } %>
      <div id='posts-list'>
        <% @posts.each do |p| %>
          <%= render 'shared/post', p: p %>
        <% end %>
      </div>
    </div>
  </div>
</div>