<div class="columns is-6 posts-container">
  <div class="column is-12">
    <div class="columns is-12" style="flex-direction: column; height: 100vh;">
      <% unless policy(current_user).blocked? %>
        <%= render partial: 'posts/form' %>
      <% end %>
      <%= turbo_frame_tag "posts-list", src: index_lazy_path, loading: :lazy do %>
        <% 5.times do %>
          <%= render partial: 'shared/post' %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "posts-pagination" %>
    </div>
  </div>
</div>