<%= turbo_frame_tag 'choice_objects' %>
<div class="columns is-12 is-multiline">
  <%= render 'options' %>
  <div class="column is-12">
    <h1 style="color: #FFFFFF; font-size: 24px; margin-bottom: 1rem">Najnowsze Posty</h1>
    <% @posts.each do |p| %>
      <%= render partial: 'shared/profile_post', locals: { p: p } %>
    <% end %>
  </div>
</div>

