.box-column {
    background: rgba(58, 80, 107, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.is-fixed {
    position: fixed
}

.is-full-height {
    height: 100%
}

.min-max-height {
    min-height: 76px;
    max-height-: 76px;
}

.navbar-item.brand {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-item.brand h1 {
    color: #FFFFFF;
}

.navbar-item.brand:hover {
    color: red;
}

.menu ul li:hover {
    background: rgba(58, 80, 107, 0.68);
    border-radius: 15px;
}

.menu ul li {
    margin: 1rem;
    width: 100%;
    padding: 2.5%;
}

.menu ul a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu ul li.is-active {
    background: rgba(58, 80, 107, 0.68);
    border-radius: 15px;
}
