.option-link {
    display: inline-block;
    color: #FFFFFF;
    font-size: 1rem;
    margin-right: 1rem;
}

.option-link:hover {
    background: rgba(58, 80, 107, 0.68);
    color: #FFFFFF;
    border-radius: 15px;
}

.option-link.is-active {
    background: rgba(58, 80, 107, 0.68);
    color: #FFFFFF;
    border-radius: 15px;
}