.post-card {
    color: #FFFFFF;
}

.post-card p {
    color: #FFFFFF;
}

.post-card a {
    color: #FFFFFF;
}

.fa-solid.fa-heart {
    color: #B00100;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button-1 {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
