* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #1C2541;
}

.navbar-brand a i  {
    font-size: 2rem;
}

.navbar-brand a .title  {
    font-size: 1rem;
}

.first-email-letter {
    display: flex;
    align-content: center;
}

.post-text {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.normal-margin-top {
    margin-top: 3rem;
}

.normal-margin-bottom {
    margin-bottom: 1rem;
}

.padding-less {
    padding: 0 !important;
}

.msg-form {
    position: -webkit-sticky;
    bottom: 0;
    width: 90%
}

.post-limit {
    text-wrap: inherit;
    min-height: 125px;
    height: 125px;
    overflow: hidden;
}

.post-content {
    overflow-wrap: break-word;
}

.message-box {
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    color: white;
    padding: 10px
}

label {
    color: #FFFFFF;
}

.hidden {
    display: none !important;
}

.comment-form-red {
    display: flex;
    width: 100%;
    min-width: 100%;
}