<div data-controller="messages" data-messages-target="notification">
  <% if notice && user_signed_in? %>
    <div class="notification box-column notice" style="top: 10%">
      <p class="notice">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if alert && user_signed_in? %>
    <div class="notification box-column alert" style="top: 10%">
      <% if alert.class == String %>
        <p class="notice"><%= alert %></p>
      <% else  %>
        <% alert.each_with_index do |k, v| %>
          <p class="notice"><%= k[1][0] %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>