<% if notice && user_signed_in? %>
  <div class="notification is-primary" style="top: 10%">
    <button class="delete"></button>
    <p class="notice">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if alert && user_signed_in? %>
  <div class="notification is-danger" style="top: 10%">
    <button class="delete"></button>
    <% if alert.class == String %>
      <p class="notice"><%= alert %></p>
    <% else  %>
      <% alert.each_with_index do |k, v| %>
        <p class="notice"><%= k[1][0] %></p>
      <% end %>
    <% end %>
  </div>
<% end %>