<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand profile-icon">
    <h1 style="display: flex; align-items: center; font-size: 24px"><strong>Platforma komunikacyjna</strong></h1>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu container">
    <div class="navbar-start">
    </div>

    <div class="navbar-end" style="display: flex; justify-content: center; align-items: center; padding: 2px;height: 100%; border-left: 2px solid #E9ECEF; border-radius: 5px;">
      <div class="navbar-item" style="padding-bottom: 0px">
        <%= render partial: 'shared/small_user_card', locals: { profile: current_user.profile } %>
      </div>
    </div>
  </div>
</nav>