<nav class="custom-navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item brand' do  %>
      <i class='bx bx-laptop'></i>
      <h1 class="title">System komunikacyjny dla lubuskiego klastra metalowego</h1>
    <% end %>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>


    <div class="navbar-end">
      <div class="media" style="display: flex; justify-content: center; align-items: center">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://fabricshop.pl/userdata/public/gfx/3706/Panel-welurowy---poduszka-48x48---Biszkoptowy-labrador-w-trzcinach---podglad.jpg" alt="Placeholder image" style="border-radius: 100%; border: 1px solid #FFFFFF">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5" style="color: #FFFFFF;">
            <%= current_user.profile.name %>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>