<div class="media" style="display: flex; justify-content: center; align-items: center">
  <div class="media-left">
    <figure class="image is-48x48">
      <img src="https://fabricshop.pl/userdata/public/gfx/3706/Panel-welurowy---poduszka-48x48---Biszkoptowy-labrador-w-trzcinach---podglad.jpg" alt="Placeholder image" style="border-radius: 100%; border: 1px solid #FFFFFF">
    </figure>
  </div>
  <div class="media-content">
    <p class="title is-5" style="color: #FFFFFF;">
      <%= current_user.profile.name %>
    </p>
  </div>
</div>